body {
    padding: 0;
    margin: 0;
}
header, main, footer, section, body {
    display: flex;
    flex: 1;
    flex-basis: 100%;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
main {
    max-width: 60%;
}
section {
    flex-wrap: nowrap;
}
h1 {
    font-family: alegreya-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #e3ece6;
}
h2 {
    font-family: alegreya-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}
p {
    font-family: alegreya-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.15rem;
}

/*** Helper Classes ***/
.primary-button {
    background-color: #8cc860;
    color: #172139;
    text-decoration: none;
    padding: .75rem 1rem;
    font-size: 1.25rem;
    transition: .15s;
}
.primary-button:hover {
    background-color: rgba(140, 200, 96, .75);
}
.secondary-button {
    background-color: #172139;
    color: #e3ece6;
    text-decoration: none;
    padding: .5rem;
    font-size: .85rem;
    transition: .15s;
    border-radius: 3px;
    border: none;
    outline: none;
    margin-top: .5rem;
    cursor: pointer;
}
.secondary-button:hover {
    background-color: rgba(53, 33, 57, .75)
}

/*** Navigation Bar ***/
header section.top-nav {
    justify-content: flex-start;
    background-color: #a03323;
    height: 4rem;
    align-items: center;
    position: relative;
}
header section.top-nav img {
    display: flex;
    justify-content: flex-start;
    width: 4.25rem;
    height: 3.5rem;
    margin-left: 20%;
    margin-right: 1rem;
}
header section.top-nav #logo-text {
    font-family: alegreya-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #e3ece6;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    flex-basis: 55%;
}
header section.top-nav nav.desktop {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
    padding-right: 20%;
}
header section.top-nav nav.desktop ul {
    display: inline-flex;
}
header section.top-nav nav.desktop ul li {
    display: inline-flex;
    align-items: center;
    margin-left: 2rem;
}
header section.top-nav nav.desktop ul li a {
    font-family: alegreya-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #e3ece6;
    font-size: 1.2rem;
    text-decoration: none;
}
header section.top-nav nav.desktop ul li a:hover {
    text-decoration: underline;
}
header section.top-nav nav.mobile {
    display: none;
}

/*** Banner Image ***/
header section.banner {
    position: relative;
}
header section.banner img {
    max-width: 100%;
}
header section.banner .banner-overlay {
    display: flex;
    flex: 1;
    position: absolute;
    align-items: center;
    left: 0;
    width: 40rem;
    height: 100%;
    background-color: rgba(0, 0, 0, .45)
}
header section.banner .banner-overlay h1 {
    margin-left: 3rem;
    font-size: 5.5rem;
}

/*** Tiles ***/
.tile {
    padding: 0 1rem;
}
.tile h2 {
    text-align: center;
}
.tile img {
    max-width: 100%;
}

/*** Weather API ***/
section.weather {
    background-color: #e3ece6;
    padding: 2rem;
    flex-wrap: wrap;
}
section.weather h2, section.weather #weather-api {
    width: 100%;
}
section.weather h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
}
section.weather #weather-api {
    display: flex;
    flex: 1;
    flex-basis: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
#weather-api span, #weather-api img {
    display: flex;
    flex: 1;
    flex-basis: 100%;
    text-align: center;
    justify-content: center;
}
#weather-api img {
    max-width: 5rem;
    height: 5rem;
}
#weather-api #city {
    font-size: 1.5rem;
}
#weather-api #weather {
    margin-bottom: 1rem;
}

/*** Footer ***/
footer {
    background-color: #172139;
    color: #fff;
    margin-top: 2rem;
}

/*** Slide out ad ***/
#slide-ad {
    position: fixed;
    top: 70vh;
    right: 0;
    float: right;
    transition: width 1s ease-out;
    width: 0;
    overflow: hidden;
}
#slide-content {
    font-size: 1.5rem;
    background: #7fb9b4;
    color: #fff;
    padding: 1rem;
    width: 20rem;
    font-family: alegreya-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}
#slide-content input {
    padding: 10px;
    border: 1px solid rgba(23, 33, 57, .5);
    margin-top: .75rem;
    border-radius: 3px;
}
#slide-content input:focus {
    outline: none;
}

/*** Adopt form ***/
#adopt-form {
    display: flex;
    flex: 1;
    flex-basis: 100%;
    flex-wrap: wrap;
}
#adopt-form h2 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
}
#adopt-form .form-group {
    display: flex;
    flex: 1;
    flex-basis: 100%;
    justify-content: space-around;
    margin-bottom: 2rem;
}
#adopt-form form {
    display: flex;
    flex: 1;
    flex-basis: 100%;
    max-width: 75%;
    flex-wrap: wrap;
}
#adopt-form .form-group input {
    width: 40%;
    padding: 15px;
    background-color: rgba(127, 185, 180, .25);
    border: 1px solid #7fb9b4;
    color: #333;
    border-radius: 3px;
    font-size: 1.15rem;
    font-family: alegreya-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.15rem;
}
#adopt-form .form-group textarea {
    width: 90%;
    padding: 15px;
    background-color: rgba(127, 185, 180, .25);
    border: 1px solid #7fb9b4;
    color: #333;
    border-radius: 3px;
    font-size: 1.15rem;
    font-family: alegreya-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.15rem;
}
#adopt-form a {
    margin: auto;
    border-radius: 3px;
}

/*** Media Queries ***/
@media screen and (max-width: 1080px){
    main {
        max-width: 85%;
    }
    header section.top-nav img{
        margin-left: 7.5%;
    }
    header section.top-nav nav {
        padding-right: 7.5%;
    }
}
@media screen and (max-width: 720px){
    header section.top-nav nav.desktop {
        display: none;
    }
    header section.top-nav nav.mobile {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 4rem;
        z-index: 999;
        background-color: #a03323;
    }
    header section.top-nav nav.mobile ul {
        list-style: none;
        text-align: center;
        background-color: #a03323;
        border-top: 1px solid #e3ece6;
        padding-left: 0;
    }
    header section.top-nav nav.mobile ul a {
        display: block;
        color: #fff;
        text-decoration: none;
        width: 100%;
        padding: 1rem 0;
        transition: .15s;
    }
    header section.top-nav nav.mobile ul a:hover {
        background-color: rgba(120, 51, 35, .75);
    }
    #hamburger {
        display: block;
        position: absolute;
        right: 7.5%;
        cursor: pointer;
    }
    .hamburger-line {
        width: 35px;
        height: 4px;
        background-color: #e3ece6;
        margin: 7px 0;
    }
}

@media screen and (max-width: 600px){
    header section.top-nav #logo-text {
        display: none;
    }
    main {
        max-width: 95%;
    }
    header section.top-nav img{
        margin-left: 2.5%;
    }
    header section.top-nav nav {
        padding-right: 2.5%;
    }
    #hamburger {
        right: 2.5%;
    }
    .tile-group {
        flex-wrap: wrap;
    }
    .tile {
        display: flex;
        flex: 1;
        flex-basis: 100%;
        padding: 0 1rem;
        flex-wrap: wrap;
    }
    .tile h2 {
        margin: 1rem auto;
    }
    .tile img {
        max-width: 100%;
    }
}